requests
python-dotenv
pdfplumber
mysql-connector-python
pydantic
instructor
openai
langchain
sentence-transformers
chromadb
langchain-huggingface
langchain-chroma
cryptography
fastapi
uvicorn
python-multipart
streamlit
pandas
torchvision